@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Tilt+Prism&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
    text-decoration: none;
}

body{
    background-color: #404040;
    height: 100% ;
    width: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.hidden{
    overflow: hidden;
}

.centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cssload-loader {
	width: 500px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:36px;
	color: #469ADB;
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background: #1D405C;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

.barra{
    width: 100%;
    height: 300px;
    background-color: #1D405C;
    transform: skewY(-4deg );
    -webkit-transform: skewY(-4deg );
    -moz-transform: skewY(-4deg );
    -ms-transform: skewY(-4deg );
    -o-transform: skewY(-4deg );
}

.barra .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 35%;
    margin: 6%;
}

.barra .content .p1{
    color: #fff;
    font-weight: bolder;
    font-size: 65px;
    transition: all .4s ease-in-out;
    transform: skewY(5deg );
    -webkit-transform: skewY(5deg );
    -moz-transform: skewY(5deg );
    -ms-transform: skewY(5deg );
    -o-transform: skewY(5deg );

}

.barra .content .p1:hover{
    transform: scale(1.2);
}

.barra .content .p1:active{
    color: #404040;
}

.info{
    width: 70%;
    height: auto;
    background-color:#1D405C ;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.info .titulo1 {
    color: #fff;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #fff solid;
}
.info .titulod {
    color: #fff;
    font-size: xx-large;
    text-align:center;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
}

.info .titulod1 {
    color: #fff;
    font-size: xx-large;
    text-align: right;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 15%;
    translate: 0% -955%;
}

.info .titulod2 {
    color: #fff;
    font-size: xx-large;
    text-align:left;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 17%;
}

.info .titulo2 {
    color: #fff;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0px;
    
}

.info .infop{
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
    display: inline;
    margin-top:15px;
    margin-right: 10px;
}

.info .inp{
    width: 35%;
    display: inline;
    padding:4px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 20px;
}

.info .inp1{
    width: 30%;
    display: inline;
    padding:4px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 20px;
}
.info .inp3{
    width: 15%;
    display: inline;
    padding:4px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 20px;
}

.info .inp2{
    width: 20%;
    display: inline;
    padding:4px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 20px;
}


.info1{
    width: 25%;
    height: auto;
    background-color:#1D405C ;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#cancelar{
    font-size: 20px;
    position: fixed;
    left: 94%;
    cursor: pointer;
    color: #fff;
    background-color: #1D405C;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 5px;

}
#cancelar:hover{
    background-color: red;
    border-color: red;
}

.info #infoa{
    height: 300px;
    width: 35%;  
    border-radius:5%;
    margin-left: 5%;
}

.info .inth{
    height: 300px;
    width: 35%;  
    border-radius:5%;
    margin-left: 60%;
    translate: 0% -144%;

}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}


/*styls scroll*/

    
dialog::-webkit-scrollbar {
 width: 25px;   

}
    
dialog::-webkit-scrollbar-track {
 border: 7px solid #232943;
 box-shadow: 0 0 5px 5px rgba(0,0,0,0.6) inset;
}

dialog::-webkit-scrollbar-thumb {
 background: #005B8F;
 border-radius: 5px;
}

body::-webkit-scrollbar {
 width: 25px;   

}
    
body::-webkit-scrollbar-track {
 border: 7px solid #232943;
 box-shadow: 0 0 5px 5px rgba(0,0,0,0.6) inset;
}

body::-webkit-scrollbar-thumb {
 background: #005B8F;
 border-radius: 5px;
}

