{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de vida</title>
    <link rel="stylesheet" href="{%static 'css/acceso.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>
<body class="hidden">
    <div class="centrado" id="onload">
		<div class="cssload-loader">HUMAN TALENT</div>
	</div>

    <div class="capa"></div>

    <div class="logo">
        <img src="/static/img/logo.png" alt="Human Talent">
    </div>

    <div class="main">

        <section class="cuenta-regresiva">
            <div class="cr-block">
                <div class="cr-time">
                    <span id="cre-dia">
                        00
                    </span>
                </div>
                <div class="cr-desc">
                    Dia
                </div>
            </div>
            <div class="cr-block">
                <div class="cr-time">
                    <span id="cre-hora">
                        00
                    </span>
                </div>
                <div class="cr-desc">
                    Hora
                </div>
            </div>
            <div class="cr-block">
                <div class="cr-time">
                    <span id="cre-minuto">
                        00
                    </span>
                </div>
                <div class="cr-desc">
                    Minuto
                </div>
            </div>
            <div class="cr-block">
                <div class="cr-time">
                    <span id="cre-segundo">
                        00
                    </span>
                </div>
                <div class="cr-desc">
                    Segundo
                </div>
            </div>
        </section>

    </div>
    
    <h1>You acoount has been blocked</h1>


    <script>
        let bloqueot = new Date('Jan 10, 2024 18:00:00').getTime();


        let relojE = document.getElementById('reloj');

        const diaM = 86_400_000;
        const horaM = 3_600_000;
        const minutoM = 60_000;
        const segundoM = 1_000;
        const ejecutarReloj = setInterval(
            () => {

                let hoy = new Date().getTime();
                let distancia = bloqueot - hoy;

                let diaR = Math.trunc(distancia / diaM);

                let horaR = Math.trunc((distancia % diaM) / horaM);

                let minutoR = Math.trunc((distancia % horaM) / minutoM);

                let segundoR = Math.trunc((distancia % minutoM) / segundoM);

                if (distancia  < 1) {
                    clearInterval(ejecutarReloj);
                    bloqueotAhora();
                }

                pintarElementos(diaR, horaR, minutoR, segundoR);

            }
        , 1000);

        let creDia = document.getElementById('cre-dia');
        let creHora = document.getElementById('cre-hora');
        let creMinuto = document.getElementById('cre-minuto');
        let creSegundo = document.getElementById('cre-segundo');
        function pintarElementos(dia, hora, minuto, segundo) {

            segundo = (segundo < 10) ? '0' + segundo : segundo;

            minuto = (minuto < 10) ? '0' + minuto : minuto;

            hora = (hora < 10) ? '0' + hora : hora;

            creDia.innerHTML = dia;
            creHora.innerHTML = hora;
            creMinuto.innerHTML = minuto;
            creSegundo.innerHTML = segundo;
        }

        function bloqueotAhora () {
            alert('OK!!!');
        
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/loader.js"></script>
</body>
</html>
