{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de vida</title>
    <link rel="stylesheet" href="{%static 'css/hoja_vida.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>

<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HUMAN TALENT</div>
    </div>

    <div class="capa"></div>

    <nav>
        <div class="barra">
            <div class="content">
                <a href="{%url 'index'%}">
                <p class="p1">HUMAN TALENT <br> Hoja De Vida</p>
                </a>
            </div>

        </div>
    </nav>
    <main>
        <div class="info">
            <form action="{% url 'save_info_hoja' %}" method="post">
                {% csrf_token %}
                <p class="titulo1">Información Personal</p>

                <label for="nombre" class="infop" >Nombre</label>
                {{form_name.name}}

                <label for="apellido" class="infop" id="ape">Apellidos</label>
                {{form_last.last_name}}
                <br>
                <br>
                <label for="direccion" class="infop">Direccion</label>
                {{form_info.address}}

                <label for="cel" class="infop">Nºcelular</label>
                {{form_info.cell_phone}}
                <br>
                <br>
                <label for="email" class="infop">Correo</label>
                {{form_name.email}}

                <label for="fechan" class="infop" id="fecha">fecha de nacimiento</label>
                {{form_info.date}}
                <br>
                <br>
                <label for="tpod" class="infop">Tipo de documento</label>
                {{form_info.type_d}}


                <label for="ncc" class="infop" id="doc">Nº de documento</label>
                {{form_info.n_document}}
                <br>
                <br>
                <label for="genero" class="infop">Genero</label>
                {{form_info.gender}}

                <label for="edad" class="infop" id="ed">Edad</label>
                {{form_info.age}}

                <label for="civil" class="infop" id="estado">Estado civil</label>
                {{form_info.civil}}
                <br>
                <br>
                <p class="titulo2">No olvide guardar sus datos </p>
                <button type="submit" class="btn-guardar">Guardar</button>
            </form>
        </div>

        <div class="info" >
            <div>
                <form action="{% url 'save_education_hoja' %}" method="post" enctype="multipart/form-data" id="edu">
                    {% csrf_token %}
                    <p class="titulo1">Educación</p>
                    {% for form in form_edu %}
                        <p class="titulo2">Institucion</p>
                        <label for="titulo" class="infop">Titulo obtenido</label>
                        {% if form.instance.id == None %}
                            {{form.archive}}
                        {% else %}
                            <a href="{{form.archive.value.url}}" target="_blank">Ver</a>
                        {% endif %}
                        <label for="cole" class="infop" id="col">Institución</label>
                        {{form.name_institution}}
                        <br>
                        <br>
                        <label for="añ" class="infop">Año de gradución</label>
                        {{form.graduation_year}}

                        <label for="tim" class="infop" id="tie">timpo en la institucion</label>
                        {{form.time}}
                        <br>
                        <br>
                        <br>
                    {% endfor %}
            </div>
                        <p class="titulo2">No olvide guardar sus datos </p>
                        <a href="#" class="titulo1" id="agregar" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Agregar</a>
                        <button type="submit" class="btn-guardar">Guardar</button>
                    <div>
                </form>
            </div>
        </div>


            <div class="info" >
                <div>
                    <form action="{% url 'save_experience_hoja' %}" method="post" id="edu1">
                        {% csrf_token %}
                        <p class="titulo1">Experiencia laboral</p>
                        {% for form in form_empresa %}
                            <p class="titulo2">Empresa</p>

                            <label for="emp" class="infop">Empresa</label>
                            {{form.company_name}}

                            <label for="car" class="infop" id="car">Cargo</label>
                            {{form.company_position}}
                            <br>
                            <br>
                            <label for="fechai" class="infop">Fecha de inicio</label>
                            {{form.start_date}}

                            <label for="fechaf" class="infop">Fecha de FInalización</label>
                            {{form.end_date}}
                            <br>
                            <br>
                            <label for="dsr" class="infop">Describa sus fuciones</label>
                            {{form.functions}}
                            <br>
                            <br>
                            <br>
                        {% endfor %}
                </div>
                        <div>
                            <p class="titulo2">No olvide guardar sus datos </p>
                            <a href="#" class="titulo1" id="agregar1" style="margin:20px ;  border: 3px solid #fff; border-radius:20px; padding:5px ; ">Agregar</a>
                            <button type="submit" class="btn-guardar">Guardar</button>
                        </div>
                </form>
            </div>


            <div class="info">
                <form action="{% url 'save_reference_hoja' %}" method="post">
                    {% csrf_token %}
                    <p class="titulo1">Otros datos</p>
                    <p class="titulo2">Referencias personales</p>

                    <label for="nombre" class="infop" >Nombre</label>
                    {{form_person.0.person_name}}

                    <label for="apellido" class="infop" id="ape">Apellidos</label>
                    {{form_person.0.last_person_name}}
                    <br>
                    <br>
                    <label for="direccion" class="infop">Direccion</label>
                    {{form_person.0.address}}

                    <label for="cel" class="infop">Nºcelular</label>
                    {{form_person.0.cell_number}}
                    <br>
                    <br>
                    <br>


                    <p class="titulo2">Referencias personales</p>

                    <label for="nombre" class="infop" >Nombre</label>
                    {{form_person.1.person_name}}

                    <label for="apellido" class="infop" id="ape">Apellidos</label>
                    {{form_person.1.last_person_name}}
                    <br>
                    <br>
                    <label for="direccion" class="infop">Direccion</label>
                    {{form_person.1.address}}

                    <label for="cel" class="infop">Nºcelular</label>
                    {{form_person.1.cell_number}}
                    <br>
                    <br>
                    <br>
                    <p class="titulo2">Referencias empresariales</p>

                    <label for="empr" class="infop" >Empresa</label>
                    {{form_empresarial.0.company_name}}

                    <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                    {{form_empresarial.0.boss_name}}

                    <br>
                    <br>
                    <label for="direccion" class="infop">Direccion</label>
                    {{form_empresarial.0.address}}

                    <label for="tel" class="infop" id="telf">Nºtelefono</label>
                    {{form_empresarial.0.cell_number}}
                    <br>
                    <br>
                    <br>

                    <p class="titulo2">Referencias empresariales</p>

                    <label for="empr" class="infop" >Empresa</label>
                    {{form_empresarial.1.company_name}}

                    <label for="nombref" class="infop" id="ape">Nombre jefe</label>
                    {{form_empresarial.1.boss_name}}

                    <br>
                    <br>
                    <label for="direccion" class="infop">Direccion</label>
                    {{form_empresarial.1.address}}

                    <label for="tel" class="infop" id="telf">Nºtelefono</label>
                    {{form_empresarial.1.cell_number}}
                    <br>
                    <br>
                    <br>
                    <p class="titulo2">No olvide guardar sus datos </p>
                    <button type="submit" class="btn-guardar">Guardar</button>
                </form>
            </div>

            <div class="info">
                <form action="{% url 'save_aditional_hoja' %}" method="post">
                    {% csrf_token %}
                    <p class="titulo1">Informacion adicional</p>
                    <br>
                    {{form_adicio.information_adi}}
                    <br>
                    <br>
                    <p class="titulo2">No olvide guardar sus datos </p>
                    <button type="submit" class="btn-guardar">Guardar</button>
                </form>
            </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/static/js/loader.js"></script>

        <script>
            const contenedor = document.querySelector('#edu');
            const btnAgregar = document.querySelector('#agregar');

            // Counter variable
            let total = 1;

            // Function to add new form
            btnAgregar.addEventListener('click', (event) => {
            event.preventDefault();

            const newForm = document.createElement('div');
            newForm.innerHTML = `
                <p class="titulo2">Institución</p>
                <label for="titulo" class="infop">Titulo obtenido</label>
                {{in_edu.archive }}
                <label for="cole" class="infop" id="col">Institución</label>
                {{in_edu.name_institution}}
                <br>
                <br>
                <label for="añ" class="infop">Año de gradución</label>
                {{in_edu.graduation_year}}
                <label for="tim" class="infop" id="tie">timpo en la institucion</label>
                {{in_edu.time}}
                <br>
                <br>
                <br>
                </form>
                <button onclick="eliminar(this)"style="
                background-color: red;
                border-color: black;
                border-radius: 15px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                padding: 10px;
                cursor: pointer;
                ">Eliminar</button>
            `;

            contenedor.appendChild(newForm);
            });

            // Function to remove form
            function eliminar(element) {
            const parentNode = element.parentNode;
            contenedor.removeChild(parentNode);
            actualizarContador();
            };

            // Function to update counter
            function actualizarContador() {
            const forms = contenedor.children;
            total = 1;

            for (let i = 0; i < forms.length; i++) {
                forms[i].children.innerHTML = total++;
            }
            };

        </script>

        <script>
            const contenedor1 = document.querySelector('#edu1');
            const btnAgregar1 = document.querySelector('#agregar1');

            // Counter variable
            let total1 = 1;

            // Function to add new form
            btnAgregar1.addEventListener('click', (event) => {
            event.preventDefault();

            const newForm = document.createElement('div');
            newForm.innerHTML = `
            <p class="titulo2">Empresa</p>
            <label for="emp" class="infop">Empresa</label>
            {{in_exp.company_name}}
            <label for="car" class="infop" id="car">Cargo</label>
            {{in_exp.company_position}}
            <br>
            <br>
            <label for="fechai" class="infop">Fecha de inicio</label>
            {{in_exp.start_date}}
            <label for="fechaf" class="infop">Fecha de FInalización</label>
            {{in_exp.end_date}}
            <br>
            <br>
            <label for="dsr" class="infop">Describa sus fuciones</label>
            {{in_exp.functions}}
            <br>
            <br>
            <br>
            <button onclick="eliminar1(this)" style="
                background-color: red;
                border-color: black;
                border-radius: 15px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                padding: 10px;
                cursor: pointer;
                ">Eliminar</button>
            `;

            contenedor1.appendChild(newForm);
            });

            // Function to remove form
            function eliminar1(element) {
            const parentNode = element.parentNode;
            contenedor1.removeChild(parentNode);
            actualizarContador();
            };

            // Function to update counter
            function actualizarContador() {
            const forms = contenedor1.children;
            total1 = 1;

            for (let i = 0; i < forms.length; i++) {
                forms[i].children.innerHTML = total++;
            }
            };

        </script>
    </main>
</body>
