{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{%static 'css/sperfiluser.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<style>
    #modal{
        width: 50%;
        left: 25%;
        top: 25%;
        border-radius: 30px;
        background: #1A1A1A;
        overflow: hidden;
    }

    #modal::backdrop{
        background-color: rgba(0, 0, 0, .55);
    }
    
    .btn-modal{
        display: inline-block;
        padding: 15px;
        line-height: normal;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s ease;
        border: 0;
        font-size: 25px;
        background: #1A1A1A;
        border-color: #1A1A1A;
        text-decoration: none;
    }


    .btn-modal:hover{
        border-bottom: 2px solid #fff;
        color: #fff ;
        transition: .5s;
        transform: scale(1.2);
    }

    #guardar, #cancelar{
        margin: 10px 0px 10px 20px;
    }



</style>


<body class="hidden">
	<div class="centrado" id="onload">	
		<div class="cssload-loader">HUMAN TALENT</div>
    </div>

    <header>
		<div class="container">
		<div class="btn-menu" style="margin-left: 9%;">
            <img class="logoe" src="{%static 'img/logo.png'%}" alt="HT" >
		</div>
			<div class="logo">
				<h1>HUMAN TALENT</h1>
			</div>
			<nav class="menu" style="left: 85%;">
				<a href="{%url 'index'%}">Inicio</a>
				<a href="#">Seguridad</a>
				<a href="#">Configuraciones</a>
				<button class="btn-modal" id="open">Editar</button>
			</nav>
		</div>
	</header>

    <div class="capa"></div>

    
        <main> 
            <section class="seccion-perfil-usuario">
                <div class="perfil-usuario-header">
                    <div class="perfil-usuario-portada">
                        <div class="perfil-usuario-avatar">
                            <img src="#" alt="img-avatar">
                            <button type="button" class="boton-avatar">
                                <i class="far fa-image"></i>
                            </button>
                        </div>
                        <button type="button" class="boton-portada">
                            <i class="far fa-image"></i> Cambiar fondo
                        </button>
                    </div>
                </div>
                <div class="perfil-usuario-body">
                    {% csrf_token %}
                    <div class="perfil-usuario-bio">
                        <h3 class="titulo">{{ name }}</h3>
                        
                    </div>
                    <div class="perfil-usuario-footer">
                        <label>
                            <i class="icono fas fa-map-signs"></i> Dirección de usuario:
                            <input type="text" name="direccion" placeholder="Dirección de usuario" class="input-datos" value="{{form_person_info.address.value}}" disabled>
                        </label>
                        <label>
                            
                <i class="icono fas fa-phone-alt"></i> Teléfono:
                            <input type="tel" name="telefono" placeholder="Teléfono" class="input-datos" value="{{form_info_perfil.Telefono.value}}" disabled>
                        </label>
                        <label>
                            <i class="icono fas fa-briefcase"></i> Profesión:
                            <input type="text" name="trabajo" placeholder="Trabaja en" class="input-datos" value="{{form_info_perfil.Profesion.value}}" disabled>
                        
                        </label>
                        <label>
                            <i class="icono fas fa-building"></i> Cargo:
                <input type="text" name="cargo" placeholder="Cargo" class="input-datos" value="{{form_info_perfil.Cargo.value}}" disabled>
                        </label>
                    </form>
                    <form class="lista-datos">
                        <label>
                            
                <i class="icono fas fa-map-marker-alt"></i> Ubicación:
                            <input type="text" name="ubicacion" placeholder="Ubicación" class="input-datos" value="{{form_info_perfil.Ubicacion.value}}" disabled>
                        </label>
                        <label>
                            
                <i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:
                            <input type="date" name="fecha_nacimiento" class="input-datos" value="{{form_info_perfil.Fecha_nacimiento.value}}" disabled>
                        </label>
                        
                            <i class="icono fas fa-user-check"></i> Registro:
                            <input type="text" name="registro" placeholder="Registro" class="input-datos" value="{{form_info_perfil.Registro.value}}" disabled>
                        
                        <label>
                            <i class="icono fas fa-share-alt"></i> Redes sociales:
                            
                <input type="text" name="redes_sociales" placeholder="Redes sociales" class="input-datos" value="{{form_info_perfil.Redes_sociales.value}}" disabled>
                    </div>
                    <div class="redes-sociales">
                        <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
                        <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                        <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </section>
        </main>

    <dialog id="modal">
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-footer">
                <form class="lista-datos" action="{% url 'save_info_perfil' %}" method="post">
                    <label>
                        <i class="icono fas fa-map-signs"></i> Dirección de usuario:
                        <input type="text" name="direccion" placeholder="Dirección de usuario" class="input-datos">
                    </label>
                    <label>
                        
            <i class="icono fas fa-phone-alt"></i> Teléfono:
                        <input type="tel" name="telefono" placeholder="Teléfono" class="input-datos">
                    </label>
                    <label>
                        <i class="icono fas fa-briefcase"></i> Trabaja en:
                        <input type="text" name="trabajo" placeholder="Trabaja en" class="input-datos">
                    
                    </label>
                    <label>
                        <i class="icono fas fa-building"></i> Cargo:
            <input type="text" name="cargo" placeholder="Cargo" class="input-datos">
                    </label>
                </form>
                <form class="lista-datos">
                    <label>
                        
            <i class="icono fas fa-map-marker-alt"></i> Ubicación:
                        <input type="text" name="ubicacion" placeholder="Ubicación" class="input-datos">
                    </label>
                    <label>
                        
            <i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:
                        <input type="date" name="fecha_nacimiento" class="input-datos">
                    </label>
                    <label>
                        <i class="icono fas fa-user-check"></i> Registro:
                        <input type="text" name="registro" placeholder="Registro" class="input-datos">
                    </label>
                    <label>
                        <i class="icono fas fa-share-alt"></i> Redes sociales:
                        
            <input type="text" name="redes_sociales" placeholder="Redes sociales" class="input-datos">
                    </label>
                    <button class="titulo1" id="open" type="submit">Guardar</button>
                    <button type="submit" class="btn-modal" id="cancelar">Cancelar</button>
                </form>
            </div>
            </div>
        </section>

        

    </dialog>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/loader.js"></script>
    <script src="/static/js/modal.js"></script>
</body>
</html>