<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #005B8F; color: #ffffff;">Verify Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hola {{ user.name }},</p>
        <p>Has creado una cuenta en HumanTalent.com, necesitas verificar tu email. Por favor, haga clic en el botón de abajo para verificar su correo electrónico.</p>
        <a href="{{ request.scheme }}://{{ domain }}{% url 'verify-email-confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #005B8F; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Verificar Email
        </a>
        <p style="margin-top: 40px;">O puede copiar el siguiente enlace en su navegador</p>
        <p>{{ request.scheme }}://{{ domain }}{% url 'verify-email-confirm' uidb64=uid token=token %}</p>
        <p>El equipo de HumanTalent</p>
        <div style="text-align: center; margin-top: 20px 0; display: flex; justify-content: start">
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px 0;">
        <p>© {% now 'Y' %} <a href="https://github.com/dst3v3n/beta_3.0" style="text-decoration: none;" target="_blank">HumanTalent</a></p>
    </div>
</div>
