{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/crearrequisicion.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
	<title>Ofertas creadas</title>
</head>
<style>
    #cancelaras{
        font-size: 20px;
        position: fixed;
        left: 94%;
        cursor: pointer;
        color: #fff;
        background-color: #1D405C;
        border: 3px solid #fff;
        border-radius: 50%;
        padding: 5px;

    }
    #cancelaras:hover{
        background-color: red;
        border-color: red;
    }
</style>

<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HUMAN TALENT</div>
    </div>

<div class="capa"></div>

<nav>
    <div class="barra">
        <div class="content">
            <a href="{%url 'index'%}">
            <p class="p1">HUMAN TALENT <br> Oferta creadas</p>
            </a>
        </div>
    </div>
</nav>

<main>
    <div class="info">
        <p class="titulo1">Datos de la oferta</p>
        <p class="titulod">Fechas de la oferta</p>

        <label for="finicio" class="infop" style="margin-left: 140px" >Fecha de inicio</label>
        {% if form_requi.instance.id != None %}
            {%if form_requi.fecha_inicio.value.day > 9 %}
                {% if form_requi.fecha_inicio.value.month < 10  %}
                    <input type="date" value="{{form_requi.fecha_inicio.value.year}}-0{{form_requi.fecha_inicio.value.month}}-{{form_requi.fecha_inicio.value.day}}" class="inp3" disabled>
                {% else %}
                    <input type="date" value="{{form_requi.fecha_inicio.value.year}}-{{form_requi.fecha_inicio.value.month}}-{{form_requi.fecha_inicio.value.day}}" class="inp3" disabled>
                {% endif %}
            {% else %}
                <input type="date" value="{{form_requi.fecha_inicio.value.year}}-0{{form_requi.fecha_inicio.value.month}}-0{{form_requi.fecha_inicio.value.day}}" class="inp3" disabled>
            {% endif %}
        {% else %}
            {{form_requi.fecha_inicio}}
        {% endif %}


        <label for="apellido" class="infop" id="ape" style="margin-left: 150px">Fecha final</label>
        {% if form_requi.instance.id != None %}
            {%if form_requi.fecha_finalizacion.value.day > 9 %}
                {% if form_requi.fecha_finalizacion.value.month < 10  %}
                    <input type="date" value="{{form_requi.fecha_finalizacion.value.year}}-0{{form_requi.fecha_finalizacion.value.month}}-{{form_requi.fecha_finalizacion.value.day}}" class="inp3" disabled>
                {% else %}
                    <input type="date" value="{{form_requi.fecha_finalizacion.value.year}}-{{form_requi.fecha_finalizacion.value.month}}-{{form_requi.fecha_finalizacion.value.day}}" class="inp3" disabled>
                {% endif %}
            {% else %}
                <input type="date" value="{{form_requi.fecha_finalizacion.value.year}}-0{{form_requi.fecha_finalizacion.value.month}}-0{{form_requi.fecha_finalizacion.value.day}}" class="inp3" disabled>
            {% endif %}
        {% else %}
            {{form_requi.fecha_finalizacion}}
        {% endif %}


        <p class="titulod">Datos de la Empresa</p>

        <label for="direccion" class="infop" style="margin-left: 100px;">Nombre</label>
        <input type="text" class="inp2" value="{{form_name.name.value}}" disabled>

        <label for="cel" class="infop">Dirrecion</label>
        <input type="text" class="inp2" value="{{form_requi.direccion.value}}" disabled>

        <label for="email" class="infop">Nit</label>
        <input type="number" class="inp3" value="{{form_company.nit.value}}" disabled>

        <br>
        <br>
        <label for="fechan" class="infop" id="fecha" style="margin-left:50px;">Departamento</label>
        <input type="text" class="inp2" value="{{form_requi.departamento.value}}" disabled>

        <label for="fechan" class="infop" id="fecha" >Ciudad</label>
        <input type="text" class="inp2" value="{{form_requi.ciudad.value}}" disabled>

        <label for="tpod" class="infop">Codigo CNO</label>
        <input type="text" class="inp3" value="{{form_requi.codigo_cno.value}}" disabled>

        <br>
        <br>
        <label for="ncc" class="infop" id="doc" style="margin-left: 39%;">Telefono</label>
        <input type="tel" class="inp3" value="{{form_requi.telefono.value}}" disabled>

        <p class="titulod">Datos de la oferta</p>

        <label for="genero" class="infop" style="margin-left: 140px;">Nombre del cargo</label>
        <input type="text" class="inp2" value="{{form_requi.nombre_cargo.value}}" disabled>

        <label for="edad" class="infop" id="ed" style="margin-left: 120px;">Educación</label>
        <input type="text" class="inp2" value="{{form_requi.educacion.value}}" disabled>

        <br>
        <br>

        <label for="civil" class="infop" id="estado" style="margin-left:80px ;">Tipo de contrato</label>
        <input type="text" class="inp3" value="{{form_requi.tipo_contrato.value}}" disabled>

        <label for="civil" class="infop" id="estado">Experiencia</label>
        <input type="text" class="inp3" value="{{form_requi.experiencia_laboral.value}}" disabled>

        <label for="civil" class="infop" id="estado">Profesion</label>
        <input type="text" class="inp2" value="{{form_requi.profesion.value}}" disabled>

        <br>
        <br>
        <label for="civil" class="infop" id="estado" style="margin-left:  80px;">Tipo de salario</label>
        <input type="text" class="inp3" value="{{form_requi.forma_pago.value}}" disabled>

        <label for="civil" class="infop" id="estado">salario</label>
        <input type="number" class="inp3" value="{{form_requi.salario.value}}" disabled>

        <label for="civil" class="infop" id="estado">Jornada laboral</label>
        <input type="text" class="inp3" value="{{form_requi.jornada_laboral.value}}" disabled>

        <p class="titulod2">Descripcion</p>
        <textarea name="" id="infoa" cols="30" rows="10" disabled>{{form_requi.descripcion.value}}</textarea>

        <p class="titulod1" class="inth">habilidades</p>
        <textarea name="" class="inth" cols="30" rows="10" disabled>{{form_requi.habilidades.value}}</textarea>
        <div class="info">
            <p class="titulo1">Edita tu Informacion</p>
            <button class="titulo1" id="open" style="margin: 2%  0 0 3%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;">Editar</button>
            <button class="titulo1" id="openas" style="margin: 2%  0 0 3%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;">Aspirantes</button>
            <button class="titulo1" id="open" style="margin: 2%  0 0 3%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;" onclick="window.location.href = '{% url 'consultar_ofer' request.COOKIES.User_id %}'">Cancelar</button>
        </div>

    </div>

<!-- --------------------------------------------------------------------------------------- -->
<dialog id="modal" class="info" style="width: auto;">
    <button  id="cancelar" >✖️</button>
    <div class="info">
        {% if form_requi.instance.id != None %}
            <form action="#" method="post">
                {% csrf_token %}
                <p class="titulo1">Datos de la oferta</p>

                <p class="titulod">Fechas de la oferta</p>

                <label for="finicio" class="infop" style="margin-left: 140px" >Fecha de inicio</label>
                {{form_requi.fecha_inicio}}

                <label for="apellido" class="infop" id="ape" style="margin-left: 150px">Fecha final</label>
                {{form_requi.fecha_finalizacion}}

                <p class="titulod">Datos de la Empresa</p>

                <label for="direccion" class="infop" style="margin-left: 100px;">Nombre</label>
                <input type="text" class="inp2" value="{{form_name.name.value}}" disabled>

                <label for="cel" class="infop">Dirección</label>
                {{form_requi.direccion}}


                <label for="email" class="infop">Nit</label>
                <input type="number" class="inp3" value="{{form_company.nit.value}}" disabled>

                <br>
                <br>
                <label for="fechan" class="infop" id="fecha" style="margin-left:50px;">Departamento</label>
                {{form_requi.departamento}}

                <label for="fechan" class="infop" id="fecha" >Ciudad</label>
                {{form_requi.ciudad}}

                <label for="tpod" class="infop">Codigo CNO</label>
                {{form_requi.codigo_cno}}


                <label for="ncc" class="infop" id="doc">Telefono</label>
                {{form_requi.telefono}}

                <p class="titulod">Datos de la oferta</p>

                <label for="genero" class="infop" style="margin-left: 140px;">Nombre del cargo</label>
                {{form_requi.nombre_cargo}}

                <label for="edad" class="infop" id="ed" style="margin-left: 120px;">Educación</label>
                {{form_requi.educacion}}

                <br>
                <br>
                <label for="civil" class="infop" id="estado" style="margin-left:80px ;">Tipo de contrato</label>
                {{form_requi.tipo_contrato}}

                <label for="civil" class="infop" id="estado">Experiencia</label>
                {{form_requi.experiencia_laboral}}

                <label for="civil" class="infop" id="estado">Profesion</label>
                {{form_requi.profesion}}

                <label for="civil" class="infop" id="estado">Tipo de salario</label>
                {{form_requi.forma_pago}}
                <br>
                <br>

                <label for="civil" class="infop" id="estado">Salario</label>
                {{form_requi.salario}}

                <label for="civil" class="infop" id="estado">Jornada laboral</label>
                {{form_requi.jornada_laboral}}

                <p class="titulod2">Descripcion</p>
                {{form_requi.descripcion}}

                <p class="titulod1" class="inth">habilidades</p>
                {{form_requi.habilidades}}
                <br>
                <br>
                <p class="titulo2">No olvide guardar los cambios de tu oferta</p>
                <button class="titulo1" id="open" style="margin: 2%  0 0 38%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;">Guardar</button>
            </form>
        {% endif %}
    </div>

    </dialog>
<!-- --------------------------------------------------------------------------------------- -->

<!-- --------------------------------------------------------------------------------------- -->
<dialog id="modalas" class="info" style="width: auto;">
    <button  id="cancelaras" >✖️</button>
    <div class="info">
        <form action="#" method="#">
                <p class="titulo2">No olvide guard1ar los cambios de tu oferta</p>
                <button class="titulo1" id="#" style="margin: 2%  0 0 38%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;">Guardar</button>
                <button class="titulo1" id="#" style="margin: 2%  0 0 5%;cursor: pointer; background-color: #1D405C; border: 3px solid #fff; border-radius: 20px; padding: 5px;">Eliminar</button>
        </form>
    </div>

    </dialog>
<!-- --------------------------------------------------------------------------------------- -->
        <script src="/static/js/loader.js"></script>
        <script src="/static/js/modal.js"></script>
        <script src="/static/js/modalas.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </main>
</body>
